.header {
    background-color: lightgrey;
    padding: 5px;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
}

.row {
    display: flex;
    gap: 10px;
    border: 1px solid lightgrey;
    padding: 5px;
    border-radius: 5px;
}

.column {
    display: flex;
    flex-direction: column;
}
